ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 110, 123);
    position: fixed;
    top: 20;
    width: 99%;
}

li {
    float: left;
    font-style: bold;
    font-size: 30px
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 50px 40px;
    text-decoration: none;
}

li a:hover/*:not(.active)*/ {
    background-color : rgb(34, 167, 240);
}

/*.active {
    background-color: ;
}*/
.right{
    float:right;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}